.AppFooter {
  background: rgba(189, 255, 0, 0.95);
  width: 100%;
  height: 50px;
  display: flex;
  position: absolute;
  bottom: 0;
}
.FooterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72%;
  margin: 0 auto;
}
.CopyRight,
.Soon {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000;
}
@media only screen and (max-width: 600px) {
  .FooterWrapper {
    justify-content: center;
    width: 100%;
  }
  .CopyRight {
    font-size: 18px;
    margin: 0;
  }
  .Soon {
    display: none;
  }
}
