.Container {
  padding: 0;
  margin: 0;
}
.AppHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72%;
  margin: 0 auto;
  height: 100px;
}
.AppLogo {
  width: auto;
  padding: 1%;
}
.Tooltip {
  position: relative;
  display: inline-block;
}

.Tooltip .TooltipText {
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  top: 10%;
  left: 110%;
}

.Tooltip:hover .TooltipText {
  visibility: visible;
}

@media only screen and (max-width: 768px) {
  .TooglerWrapper {
    position: absolute;
    right: 6%;
    bottom: 8%;
  }
}
